/**
 * Admin conflict notice styles
 */
.wrap .notice.runthings-category-conflict-notice {
	margin-left: 13px;
	margin-right: 13px;
}

@media screen and (max-width: 500px) {
	.wrap .notice.runthings-category-conflict-notice {
		margin-left: 20px;
		margin-right: 20px;
	}
}

